---
- name: Find platform variable file
  ansible.builtin.set_fact:
    variable_file: "{{ lookup('first_found', params, errors='ignore') }}"
  vars:
    params:
      files:
        - "{{ ansible_facts.os_family }}/{{ ansible_facts.distribution }}/{{ ansible_facts.distribution_major_version }}.yml"
        - "{{ ansible_facts.os_family }}/{{ ansible_facts.distribution }}.yml"
        - "{{ ansible_facts.os_family }}.yml"
      paths:
        - vars
  tags: role_tools_include_vars
- name: Include platform variable file
  ansible.builtin.include_vars:
    file: "{{ variable_file }}"
  when:
    - variable_file is not none
    - variable_file | length > 0
  tags: role_tools_include_vars
- name: Import dependency task
  ansible.builtin.import_tasks:
    file: dependency.yml
  tags: role_tools_dependency
- name: Import repository task
  ansible.builtin.import_tasks:
    file: repository.yml
  tags: role_tools_repository
- name: Import package task
  ansible.builtin.import_tasks:
    file: package.yml
  tags: role_tools_package
- name: Import setting task
  ansible.builtin.import_tasks:
    file: setting.yml
  tags: role_tools_setting
