[Unit]
Description=mailpit Service
After=network.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mailpit --smtp {{ mailpit_cfg.smtp_bind_addr }} --listen {{ mailpit_cfg.ui_bind_addr }}
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
